/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: rgb(161,174,169);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
	.wrapper h1 {

		font-size: 50px;
	}
	.wrapper p {

		color: rgb(120,107,112);
	}
	a.link{
		text-decoration: none;
	}
	.left-aligned{

		text-align: right;
	}
	img{

		border: 5px solid rgb(160,174,169);
		transition: all 0.8s ease;
	}
	img:hover{

		border: 5px solid rgb(120,107,112);
	}
